﻿@model FoodBlog.Models.Comment

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function () {
        $("#addComment").click(function (e) {
            e.preventDefault();

            var title = document.getElementById('title').value;
            var authorName = document.getElementById('authorName').value;
            var content = document.getElementById('content').value;

            if (title == '' || authorName == '' || content == '') {
                alert('fill all fields');
                return;
            }

            var token = $('[name=__RequestVerificationToken]').val();
            var commentData = {
                RecipeID: @Model.RecipeID,
                Title: title,
                AuthorName: authorName,
                Content: content
            };
            commentData['__RequestVerificationToken'] = token;

            $.ajax({
                url: "/Comments/Add",
                type: "POST",
                data: commentData,
                success: function (response) {
                    console.log(response);
                    if (response.succeeded) {
                        var commentData = response.commentData;
                        var tblRow = `
                            <li class="blog-comment">
                                <p class="meta"><strong>` + commentData.AuthorName + `</strong></p>
                                <p>
                                    <strong>` + commentData.Title + `</strong>
                                    <br />` + commentData.Content + `
                                </p>
                            </li>`
                        $("#comment-list").append(tblRow);

                        // clear the fields
                        document.getElementById('title').value = ''
                        document.getElementById('authorName').value = ''
                        document.getElementById('content').value = ''

                    }
                    //window.location.reload();
                },
                error: function (response) {
                    alert('Error was occured, please try again later')
                }

            });

        });
    });
</script>



<div class="form-horizontal">
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel  panel-default">
        <div class="panel-body">
            <div class="form-group">
                <input id="authorName" class="col-md-4 col-lg-offset-1" type="text" placeholder="Your Name" />
            </div>
            <br />
            <div class="form-group">
                <input id="title" class="col-md-4 col-lg-offset-1" type="text" placeholder="Title" />
                <textarea id="content" class="col-md-4 col-lg-offset-1" type="text" placeholder="Content"></textarea>
            </div>
        </div>

        <div class="panel-footer">
            <input class="btn btn-search-posts" type="submit" id="addComment" value="Post Comment" />
        </div>

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}